body{
    background-color: darkorange;
    color: black;
    font-family: cursive;
    font-style: italic;
}
.body2{
    background-color:darkturquoise;
    color:cornsilk;
    font-family: cursive;
    font-style: italic;
}
.body3{
    background-color: goldenrod;
    color:black;
    font-family: cursive;
    font-style: italic;
}

.body4{
    background-color: crimson;
    color: snow;
    font-family: cursive;
    font-style: italic;
}
.body5{
    background-color: seagreen;
    color: snow;
    font-family: cursive;
    font-style: italic;
}

.body6{
    background-color:grey;
    color: snow;
    font-family: cursive;
    font-style: italic;
}
.body7{
    background-color:mediumaquamarine;
    color: snow;
    font-family: cursive;
    font-style: italic;
}
.body8{
    background-color:greenyellow;
    color:black;
    font-family: cursive;
    font-style: italic;
}